@font-face {
  font-family: "ub-rg";
  src: url("../assets/fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "ub-bd";
  src: url("../assets/fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: "ub-md";
  src: url("../assets/fonts/Ubuntu-Medium.ttf");
}
*:focus {
  box-shadow: none !important;
}

a {
  text-decoration: none;
}

body {
  background-color: hsl(217, 100%, 97%);
  font-family: "ub-rg", sans-serif;
}

.center-box {
  /* height: 100vh; */
}

.wrapper {
  background-color: hsl(0, 0%, 100%);
  /* width: min(100% - 10px, 1000px); */
  border-radius: 20px;
  margin:3% 3% 10px 3%;
  
}

.step header h1 {
  font-family: "ub-bd", sans-serif;
  color: #afafaf;
}
.step header p {
  color: hsl(231, 11%, 63%);
}
.step .next-step button {
  background-color: #afafaf;
}

.bad-feedback {
  text-align: center;
  font-weight: bold;
  color: hsl(354, 84%, 57%);
}

.car-step .cars .car {
  flex: 1 0 150px;
  border: 1px solid hsl(229, 24%, 87%);
  transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  border-radius: 5px;
}
.car-step .cars .car h5 {
  color: hsl(0, 0%, 95%);
  font-weight: bold;
}
@media (max-width: 767px) {
  .car-step .cars .car {
    flex: 1 0 0;
    width: 100%;
    /* padding: 5rem !important; */
  }
  .car-step .cars .car .car-image img {
    width: 100%;
  }
}
.car-step .cars .car h6:nth-of-type(1) {
  color: hsl(231, 11%, 63%);
}
.car-step .cars .car h6:nth-of-type(2) {
  color: #D72638;
}
.car-step .cars .car:hover {
  background-color: #9B1B2F; /* رنگ روشن‌تر برای hover */
  border: 2px solid none; /* مرز برجسته‌تر در حالت hover */
  cursor: pointer; /* تغییر نشانگر موس */
  transition: background-color 0.3s ease, border 0.3s ease;
}
.car-step .cars .car.checked {
  background-color: #afafaf; /* زرشکی */
  color: #FFFFFF; /* سفید برای متن */
  border: 2px solid #D72638; /* قرمز روشن برای برجسته‌سازی */
  transition: background-color 0.3s ease, border 0.3s ease;
}
.car-step .cars .car.checked .car-image img {
  transform: scale(1.5); /* بزرگ کردن تصویر در هنگام Hover روی Label */
}

.car-step .month-year {
  background-color: hsl(217, 100%, 97%);
}




.addons-step .addon {
  border: 1px solid hsl(229, 24%, 87%);
  transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
}
.addons-step .addon.checkAddon {
  background-color: hsl(217, 100%, 97%);
  border: 1px solid #D72638;
  transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
}
.addons-step .addon p {
  margin: 0;
  font-size: 1em;
}
.addons-step .addon p:first-child {
  font-family: "ub-md", sans-serif;
  color: #afafaf;
  font-weight: bold;
}
.addons-step .addon p:nth-child(2) {
  color: hsl(231, 11%, 63%);
}
.addons-step .addon input {
  width: 1.5rem;
  height: 1.5rem;
}
.addons-step .addon div {
  color: #D72638;
}

@media (max-width: 767px) {
  .center-box {
    /* height: 100%; */
  }
  .wrapper {
    background-color: transparent;
  }
  
  .sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .step {
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    position: relative;
    /* top: 20%; */
  }
  form .next-step {
    position: fixed;
    margin-top: auto;
    bottom: 0%;
    height: 5rem;
    background: hsl(231, 100%, 99%);
    right: 0%;
    left: 0%;
    padding-inline: 15px;
    z-index: 3;
  }
}


@media (min-width: 767px) {
  .wrapper {
    position: relative;
  }
}

.theme-mode {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  transition: transform 1s;
  border: 2px solid #afafaf;
  transform: rotate(180deg);
  filter: grayscale(50%);
}

@media (max-width: 600px) {
  
  /* .step-1 {
    margin-bottom: 350px;
  } */
  #month-car{
    max-height: fit-content !important;
    overflow: hidden !important;
  }
}

#month-car{
    max-width: 100%;
    max-height: 65vh;
    overflow: auto;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.235); */
}



.car {
  /* height: 300px; تنظیم ارتفاع */
  /* overflow: hidden; */
  margin: 5px 0px ;
}


.thumbnail-img {
  /* width: 100%; */
  /* height: 100%; */
  object-fit: cover; /* حفظ تناسب عکس */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.overlay-content {
  flex-direction: column;
  justify-content: end;
  color: #fff;
  /* background: rgba(0, 0, 0, 0.5); مقدار پیش‌فرض پس‌زمینه */
  /* text-align: center; */
  /* transition: background 0.3s ease; زمان و نوع انیمیشن */
}
.overlay-content:hover {
  /* background: rgba(0, 0, 0, 0.29); پس‌زمینه نیمه‌شفاف برای متن */
}

.icon-overlay {
  width: 50px; /* تنظیم اندازه آیکون */
  height: auto;
  margin-bottom: 10px; /* فاصله از متن */
}

.text-overlay h5, h6 {
  margin: 5px 0; /* فاصله بین متن‌ها */
}

.icon-overlay {
  width: 50px; /* اندازه پیش‌فرض آیکون */
  height: auto;
  margin-bottom: 10px;
  transition: transform 0.3s ease; /* زمان و نوع انیمیشن */
}

.overlay-content:hover .icon-overlay {
  transform: scale(1.2); /* بزرگ‌تر کردن آیکون به 120% اندازه اصلی */
}


.car-box-container:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.car-info {
  flex: 1;
  padding: 10px;
}


.step{
  top: 5px;
}
.thanks-step{
  justify-self: center;
}

/* ریسپانسیو */
@media (max-width: 768px) {
  .car-box-container {
      flex-direction: column;
      text-align: center;
  }

  .car-image img {
      width: 100%;
      max-width: 300px;
      margin-bottom: 10px;
  }
}

/* Styles for Features */
.features {
  margin-top: 10px;
}

.feature-item {
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 10px;
}

.feature-item i {
  font-size: 18px;
}

.car-info h5 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.car-info h6 {
  font-size: 14px;
}
.car-name {
  font-size: 1.5rem; /* اندازه بزرگ برای نام ماشین */
  font-weight: bold;
  color: #B0B0B0;
}


.car-year {
  font-size: 1.2rem; /* اندازه متوسط برای سال ساخت */
  font-weight: 600;
}

.badge {
  display: inline-flex;
  align-items: center;
  padding: 6px 12px; /* فضای داخلی برای آیکون و متن */
  font-size: 0.9rem; /* اندازه متن */
  font-weight: 500; /* وزن متن */
  border-radius: 5px; /* گوشه‌های گرد */
  border: 1px solid transparent; /* خط حاشیه */
  transition: background-color 0.3s, color 0.3s; /* انیمیشن تغییر رنگ */
}

.badge.badge-neutral {
  background-color: #E0E0E0; /* رنگ خنثی برای Light Mode */
  color: #333; /* رنگ متن در Light Mode */
}

.badge.badge-default {
  background-color: #B0BEC5
}

.badge.badge-primary {
  background-color: #2196F3
}

.badge.badge-secondary {
  background-color: #323a45
}

.badge.badge-success {
  background-color: #64DD17
}

.badge.badge-warning {
  background-color: #FFD600
}

.badge.badge-info {
  background-color: #29B6F6
}

.badge.badge-danger {
  background-color: #ef1c1c
}


/* کانتینر اصلی برای جلوگیری از overflow */
.car-image {
  position: relative;
  overflow: hidden; /* مخفی کردن بخش‌های اضافه تصویر */
  display: flex;
  justify-content: end;
  align-items: center;
}

/* استایل اولیه تصویر */
.car-image img {
  width: 80%; /* عرض کامل کانتینر */
  height: auto; /* تناسب ارتفاع */
  object-fit: cover; /* تطبیق تصویر با کانتینر */
  transition: transform 0.3s ease-in-out; /* انیمیشن نرم */
}

/* هاور برای بزرگ‌تر کردن تصویر */
.car:hover .car-image img {
  transform: scale(1.2); /* بزرگ کردن تصویر به اندازه 120% */
  transform-origin: center; /* تغییر نقطه‌ی بزرگ‌نمایی به مرکز تصویر */
}

/* هاور روی کانتینر اصلی برای افکت جعبه */
.car-box-container:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
  vertical-align: middle;
  margin-right: 10px;
}


/* Style for table */
.styled-table {
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
}

.styled-table th, .styled-table td {
  text-align: left;
}

.styled-table th {
  font-weight: bold;
  align-content: center;
}


/* Style for badges */
.badge-container span {
  margin: 3px; /* Space between spans */
  padding: 5px;
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}

.badge-container span img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.table.styled-table {
  background-color: transparent !important; /* حذف رنگ پس‌زمینه */
}

.table.styled-table th,
.table.styled-table td {
  color: rgba(108, 117, 125) !important;
  background-color: transparent !important; /* حذف رنگ پس‌زمینه سلول‌ها */
}

.table.styled-table tbody tr {
  border-bottom: 1px solid #ccc ; 
}

.table.styled-table tbody tr:last-child {
  /* border-bottom: none !important; حذف خط پایین آخرین ردیف */
  border-bottom-color:  transparent !important;
}


.btn-red {
  background-color: #afafaf;
  color: #fff;
  border: 1px solid #afafaf;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-red:hover {
  background-color: #a00030;
  border-color: #a00030;
  color: #fff;
}

.btn-red:focus, .btn-red:active {
  background-color: #660015;
  border-color: #660015;
  box-shadow: 0 0 0 0.25rem rgba(128, 0, 32, 0.5);
}

.btn-red:disabled {
  background-color: #afafaf;
  border-color: #afafaf;
  opacity: 0.65;
  cursor: not-allowed;
}
.step-3 .card .card-img-top{
  width: 30%;
}



